{%load static%}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Envio Cyberpunk</title>
</head>
<body>
<h1>Envie um Email 😎</h1>
<form id="meuFormulario" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>

<script>
    document.getElementById("meuFormulario").onsubmit = function() {
        setTimeout(() => {
            document.getElementById("meuFormulario").reset();
        }, 500); // Pequeno atraso para garantir que o envio foi concluído
    };
</script>
</body>
</html>